@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 724px)
  .phone
    margin-top: 15px
    &__number
      font-size: 19px
  header.header
    padding-top: 45px
  .about-us
    padding: 55px 0 25px 0
    .content-block
      padding: 140px 0 0 0
    .background-block
      left: 50px
  .posy
    padding: 60px 0 15px 0
    .flower
      max-width: 325px
      margin: 8px 0
  .delivery
    .section-title
      padding-top: 55px
    .info-block
      display: flex
      align-items: center
    .info-text
      text-align: left
      br
        display: none
    .flower-img
      margin-right: 20px
    .flower__line
      display: none
  .contacts
    padding-bottom: 75px
    &__down
      padding: 20px 0 85px 0
  .footer
    .row
      flex-wrap: wrap
      & > div
        width: 100%
        text-align: center
      .phone
        text-align: center
      .menu-list
        display: none
      .go-up
        display: block


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .header-section
    header
      .main-menu
        display: none
    .hidden-menu
      display: block
      .main-menu
        position: absolute
        z-index: 999
        top: 90px
        width: 100%
        text-align: center
        .menu-list
          background: rgba(236, 215, 228, .9)
          border-radius: 10px
          padding: 20px 0
          .menu-item
            display: block
            margin: 0
            padding: 0
            .link
              white-space: nowrap
              font-weight: 600
              color: rgba(0, 0, 0, .7)
              display: block
              width: 100%
              &:hover
                color: #fe3468
            .phone
              margin: 0
              display: block
    .phone
      display: none
  .about-us
    .content-block
      padding: 0
      margin-top: 25px
      .background-block
        display: none
      .text-block
        border: none
        padding: 0
        background: transparent
  .posy
    .flower
      max-width: none
      &:not(:first-child):not(:nth-child(2))
        display: none
      &__more
        text-align: center
        p
          margin: 0
          a
            font-size: 30px
    .filters
      display: none
    .section-header-block
      padding-bottom: 35px
  .delivery
    .info-text
      font-size: 17px
  .contacts
    padding: 45px 0 45px 0
    background: #fff
    &__down
      display: none
    &__form
      border: none
      padding: 0
    &__title
      display: block
      &-left
        text-align: left
      &-right
        text-align: right
    &__form-block
      &:after
        display: none




/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

